![TraderPy Logo](https://traderpy.files.wordpress.com/2021/01/cropped-logo3.png)

# Calculate 10 Technical Indicators with Python

**Author**: TraderPy - Algorithmic Trading (Tu Khac Nguyen)

**Youtube**: https://www.youtube.com/channel/UC9xYCyyR_G3LIuJ_LlTiEVQ


## DISCLAIMER

Trading the financial markets imposes a risk of financial loss. TraderPy is not responsible for any financial losses that viewers suffer. Content is educational only and does not serve as financial advice. Information or material is provided ‘as is’ without any warranty. 

Past trading results do not indicate future performance. Strategies that worked in the past may not reflect the same results in the future.

---

## Introduction
In this notebook, we will calculate **10 Technical Indicators in Python**. We will use the **MetaTrader5** Library to request historical data. Then we will use **Pandas** to process the data and calculate the Technical Indicators. Then, we will visualize the Technical Indicators using the **Plotly** Library.

## Following are the Technical Indicators that we will calculate
We will start with simple ones and gradually look at more complex


1. Simple Moving Average (SMA)
2. Exponential Moving Average (EMA)
3. Average True Range (ATR)
4. RSI (Relative Strength Index)
5. High/Low of previous Session 
6. Standard Deviation
7. Bollinger Bands
8. Moving Average Convergence/Divergence (MACD)
9. SMA Crossover
10. Stochastic Oscillator

---

### Libraries

In [ ]:
import MetaTrader5 as mt5  # to access historical data
import pandas as pd  # for data analysis and calculation of technical indicators
import plotly.express as px  # for data visualization
from IPython.display import display, Markdown, Latex  # to display results in Jupyter Notebook

### Connecting to MetaTrader5 Trading Account to request Historical Data

In [6]:
# connecting to MetaTrader5 platform to request historical data
is_connected = mt5.initialize()

# mt5.login(login, password, server)

Optionally add mt5.login(login, password, server) to specify the broker server you want to request historical data from.
MT5 Trading Credentials can be obtained by signing up with a brokerage company. 

If you wish to open a Live/Demo MT5 Account you can click on this affiliate link: https://icmarkets.com/?camp=60457

<a href='https://www.icmarkets.com/?camp=60457'><img class='img-fluid' src='https://promo.icmarkets.com/Banners/2021/English/EN_970x250_GlobalMarkets_FSA.jpg' width='970' height='250'/></a>

### Requesting Historical Data
All examples will be made on the **EURUSD Daily Timeframe** starting from the year 2021

In [7]:
from datetime import datetime  # import datetime library to specify the datetime range for historical data

symbol = "EURUSD"
timeframe = mt5.TIMEFRAME_D1  # mt5 structure which represents the daily timeframe
start_datetime = datetime(2021, 1, 1)  # start of datetime of the data that we want to request
end_datetime = datetime.now()  # end of datetime of the data that we want to request

# use mt5.copy_rates_range to get OHLC data
ohlc = mt5.copy_rates_range(symbol, timeframe, start_datetime, end_datetime)

display(Markdown('### OHLC Results inside Array'))  # Markdown description
display(ohlc[0:10])  # display first 10 results

display(Markdown('### Convert results to a Pandas DataFrame'))  # Markdown description
df = pd.DataFrame(ohlc)  # converting ohlc array to Pandas DataFrame
display(df)

display(Markdown('### Keep [time, open, high, low, close, spread] columns only'))  # Markdown description
df = df[['time', 'open', 'high', 'low', 'close', 'spread']]  # specifying columns that we want to keep
display(df)

display(Markdown('### Convert time column from Timestamp to Datetime'))  # Markdown description
df['time'] = pd.to_datetime(df['time'], unit='s')  # use pandas.to_datetime, unit='s' will convert it based on seconds
display(df)

### OHLC Results inside Array

array([(1609718400, 1.22297, 1.23086, 1.22293, 1.22473, 57588, 1, 0),
       (1609804800, 1.22463, 1.2305 , 1.22432, 1.22957, 52496, 2, 0),
       (1609891200, 1.22946, 1.23485, 1.22647, 1.23247, 74989, 1, 0),
       (1609977600, 1.23239, 1.23435, 1.22442, 1.2271 , 58652, 2, 0),
       (1610064000, 1.22713, 1.22839, 1.21918, 1.22216, 67075, 1, 0),
       (1610323200, 1.22131, 1.22255, 1.21313, 1.21495, 52567, 2, 0),
       (1610409600, 1.21497, 1.22095, 1.21362, 1.22062, 48115, 2, 0),
       (1610496000, 1.22064, 1.22219, 1.21391, 1.21568, 45764, 1, 0),
       (1610582400, 1.21568, 1.21775, 1.21101, 1.2153 , 50556, 3, 0),
       (1610668800, 1.21523, 1.21617, 1.20743, 1.2077 , 45266, 2, 0)],
      dtype=[('time', '<i8'), ('open', '<f8'), ('high', '<f8'), ('low', '<f8'), ('close', '<f8'), ('tick_volume', '<u8'), ('spread', '<i4'), ('real_volume', '<u8')])

### Convert results to a Pandas DataFrame

,time,open,high,low,close,tick_volume,spread,real_volume
0,1609718400,1.22297,1.23086,1.22293,1.22473,57588,1,0
1,1609804800,1.22463,1.23050,1.22432,1.22957,52496,2,0
2,1609891200,1.22946,1.23485,1.22647,1.23247,74989,1,0
3,1609977600,1.23239,1.23435,1.22442,1.22710,58652,2,0
4,1610064000,1.22713,1.22839,1.21918,1.22216,67075,1,0
...,...,...,...,...,...,...,...,...
773,1703116800,1.09388,1.10119,1.09343,1.10109,51692,15,0
774,1703203200,1.10036,1.10395,1.09929,1.10115,47629,16,0
775,1703548800,1.10153,1.10441,1.10078,1.10407,27737,16,0
776,1703635200,1.10402,1.11217,1.10276,1.11057,40190,15,0
777,1703721600,1.10998,1.11386,1.10542,1.10607,43809,0,0

### Keep [time, open, high, low, close, spread] columns only

           time     open     high      low    close  spread
0    1609718400  1.22297  1.23086  1.22293  1.22473       1
1    1609804800  1.22463  1.23050  1.22432  1.22957       2
2    1609891200  1.22946  1.23485  1.22647  1.23247       1
3    1609977600  1.23239  1.23435  1.22442  1.22710       2
4    1610064000  1.22713  1.22839  1.21918  1.22216       1
..          ...      ...      ...      ...      ...     ...
773  1703116800  1.09388  1.10119  1.09343  1.10109      15
774  1703203200  1.10036  1.10395  1.09929  1.10115      16
775  1703548800  1.10153  1.10441  1.10078  1.10407      16
776  1703635200  1.10402  1.11217  1.10276  1.11057      15
777  1703721600  1.10998  1.11386  1.10542  1.10607       0

[778 rows x 6 columns]

### Convert time column from Timestamp to Datetime

          time     open     high      low    close  spread
0   2021-01-04  1.22297  1.23086  1.22293  1.22473       1
1   2021-01-05  1.22463  1.23050  1.22432  1.22957       2
2   2021-01-06  1.22946  1.23485  1.22647  1.23247       1
3   2021-01-07  1.23239  1.23435  1.22442  1.22710       2
4   2021-01-08  1.22713  1.22839  1.21918  1.22216       1
..         ...      ...      ...      ...      ...     ...
773 2023-12-21  1.09388  1.10119  1.09343  1.10109      15
774 2023-12-22  1.10036  1.10395  1.09929  1.10115      16
775 2023-12-26  1.10153  1.10441  1.10078  1.10407      16
776 2023-12-27  1.10402  1.11217  1.10276  1.11057      15
777 2023-12-28  1.10998  1.11386  1.10542  1.10607       0

[778 rows x 6 columns]

---

### Visualizing Close Prices with Plotly Express

In [8]:
fig = px.line(df, x='time', y='close', title='EURUSD - Close Prices')  # creating a figure using px.line
display(fig)  # showing figure in output

---

# 1. Simple Moving Average (SMA)
The Simple Moving Average is one of the widest used indicators amongst traders. It is used to determine trends in the market and to filter out noise. It is calculated by taking the average prices for a specific period.

**In this example, we will calculate the Simple Moving Average with the Period of 10 last values.**

In [9]:
sma_period = 100  # defining the sma period to 10

# calculating sma in pandas using df.rolling().mean() applied on the close price
# rolling() defines the window for the period where sma_period is passed
# mean() calculates the average value
df['sma_10'] = df['close'].rolling(sma_period).mean()

# Markdown description and resulting column
display(Markdown('### Notice as we have NaN values in the beginning as we require at least 10 values to calculate the SMA'))
display(df[['time', 'close', 'sma_10']])

# plotting the SMA
fig_sma = px.line(df, x='time', y=['close', 'sma_10'], title='SMA Indicator')  # to plot SMA, add it to the y parameter
display(fig_sma)

### Notice as we have NaN values in the beginning as we require at least 10 values to calculate the SMA

          time    close    sma_10
0   2021-01-04  1.22473       NaN
1   2021-01-05  1.22957       NaN
2   2021-01-06  1.23247       NaN
3   2021-01-07  1.22710       NaN
4   2021-01-08  1.22216       NaN
..         ...      ...       ...
773 2023-12-21  1.10109  1.075373
774 2023-12-22  1.10115  1.075375
775 2023-12-26  1.10407  1.075415
776 2023-12-27  1.11057  1.075566
777 2023-12-28  1.10607  1.075654

[778 rows x 3 columns]

---

# 2. Exponential Moving Average (EMA)
The Exponential Moving Average is very similar to the SMA but it reacts much faster to recent price changes

**In this example, we will calculate the Exponential Moving Average with the Period of 10 last values.**

In [10]:
ema_period = 100  # defining the ema period to 10

# calculating sma in pandas using df.rolling().mean() applied on the close price
# rolling() defines the window for the period where ema_period is passed
# .ewm() creates an exponential weighted window with 'span is equal to our ema_period'
df['ema_10'] = df['close'].ewm(span=ema_period, min_periods=ema_period).mean()

# Markdown description and resulting column
display(Markdown('### Notice as we have NaN values in the beginning as we require at least 10 values to calculate the SMA'))
display(df[['time', 'close', 'ema_10']])

# plotting the SMA
fig_ema = px.line(df, x='time', y=['close', 'ema_10'], title='EMA Indicator')  # to plot EMA, add it to the y parameter
display(fig_ema)

### Notice as we have NaN values in the beginning as we require at least 10 values to calculate the SMA

          time    close    ema_10
0   2021-01-04  1.22473       NaN
1   2021-01-05  1.22957       NaN
2   2021-01-06  1.23247       NaN
3   2021-01-07  1.22710       NaN
4   2021-01-08  1.22216       NaN
..         ...      ...       ...
773 2023-12-21  1.10109  1.079140
774 2023-12-22  1.10115  1.079575
775 2023-12-26  1.10407  1.080060
776 2023-12-27  1.11057  1.080665
777 2023-12-28  1.10607  1.081168

[778 rows x 3 columns]

### Comparison between SMA and EMA

In [11]:
# plotting the SMA and EMA side by side
fig_sma_ema_compare = px.line(df, x='time', y=['close', 'sma_10', 'ema_10'], title='Comparison SMA vs EMA')
display(fig_sma_ema_compare)
display(Markdown('*Notice how to EMA reacts faster to price movements than the SMA'))

*Notice how to EMA reacts faster to price movements than the SMA

---

## 3. Average True Range (ATR)
The Average True Range is a Volatility Indicator which is useful to assess expected risk on an asset. Changes in volatility may also imply changes in the Market in terms of trend, popularity and other factors.

A Range is defined by taking the 'High value - Low value' for a specific period. The ATR then calculates the average value for a specific period.

**For example**, after a strong bull run, the ATR decreases which may be an indicator of a trend coming to a stop and commencing a retracement phase.

**In this example, we will calculate the Average True Range with the Period of 14.**

In [12]:
atr_period = 14  # defining the atr period to 14

# calculating the range of each candle
df['range'] = df['high'] - df['low']

# calculating the average value of ranges
df['atr_14'] = df['range'].rolling(atr_period).mean()

display(df[['time', 'atr_14']])

# plotting the ATR Indicator
fig_atr = px.line(df, x='time', y='atr_14', title='ATR Indicator')
display(fig_atr)

          time    atr_14
0   2021-01-04       NaN
1   2021-01-05       NaN
2   2021-01-06       NaN
3   2021-01-07       NaN
4   2021-01-08       NaN
..         ...       ...
773 2023-12-21  0.007639
774 2023-12-22  0.007324
775 2023-12-26  0.007089
776 2023-12-27  0.007431
777 2023-12-28  0.007589

[778 rows x 2 columns]

---

## 4. Relative Strength Index (RSI)
The Relative Strength Index is a commonly used Oscillator Indicator. For Mean Reversion Traders, it can generate signals to determine whether price is overbought or when price is oversold. 

RSI can also be used to determine the strength of a move/trend (as the name implies).

**In this example, we will calculate the Average True Range with the Period of 14.**

In [13]:
# setting the RSI Period
rsi_period = 14

# to calculate RSI, we first need to calculate the exponential weighted average gain and loss during the period
df['gain'] = (df['close'] - df['open']).apply(lambda x: x if x > 0 else 0)
df['loss'] = (df['close'] - df['open']).apply(lambda x: -x if x < 0 else 0)

# here we use the same formula to calculate Exponential Moving Average
df['ema_gain'] = df['gain'].ewm(span=rsi_period, min_periods=rsi_period).mean()
df['ema_loss'] = df['loss'].ewm(span=rsi_period, min_periods=rsi_period).mean()

# the Relative Strength is the ratio between the exponential avg gain divided by the exponential avg loss
df['rs'] = df['ema_gain'] / df['ema_loss']

# the RSI is calculated based on the Relative Strength using the following formula
df['rsi_14'] = 100 - (100 / (df['rs'] + 1))

# displaying the results
display(df[['time', 'rsi_14', 'rs', 'ema_gain', 'ema_loss']])

# plotting the RSI
fig_rsi = px.line(df, x='time', y='rsi_14', title='RSI Indicator')

# RSI commonly uses oversold and overbought levels, usually at 70 and 30
overbought_level = 70
oversold_level = 30

# adding oversold and overbought levels to the plot
fig_rsi.add_hline(y=overbought_level, opacity=0.5)
fig_rsi.add_hline(y=oversold_level, opacity=0.5)

# showing the RSI Figure
display(fig_rsi)

          time     rsi_14        rs  ema_gain  ema_loss
0   2021-01-04        NaN       NaN       NaN       NaN
1   2021-01-05        NaN       NaN       NaN       NaN
2   2021-01-06        NaN       NaN       NaN       NaN
3   2021-01-07        NaN       NaN       NaN       NaN
4   2021-01-08        NaN       NaN       NaN       NaN
..         ...        ...       ...       ...       ...
773 2023-12-21  66.074790  1.947660  0.003571  0.001833
774 2023-12-22  66.820961  2.013951  0.003200  0.001589
775 2023-12-26  69.324008  2.259878  0.003112  0.001377
776 2023-12-27  74.947560  2.991627  0.003570  0.001193
777 2023-12-28  66.545013  1.989091  0.003094  0.001556

[778 rows x 5 columns]

---

## 5. High/Low of previous Session 

The High/Low Indicator is a simple Indicator to compare current price with the previous session. Usually, when prices are inside the previous session range, it can mean that the market is ranging. 

If the price is outside of the previous session, it can be trending

In [14]:
# to calculate the previous High/Low, we can simply use shift() to check values of previous rows
df['prev_high'] = df['high'].shift(1)
df['prev_low'] = df['low'].shift(1)

display(df[['close', 'high', 'prev_high', 'low', 'prev_low']])

fig_prev_hl = px.line(df, x='time', y=['close', 'prev_high', 'prev_low'])
display(fig_prev_hl)

       close     high  prev_high      low  prev_low
0    1.22473  1.23086        NaN  1.22293       NaN
1    1.22957  1.23050    1.23086  1.22432   1.22293
2    1.23247  1.23485    1.23050  1.22647   1.22432
3    1.22710  1.23435    1.23485  1.22442   1.22647
4    1.22216  1.22839    1.23435  1.21918   1.22442
..       ...      ...        ...      ...       ...
773  1.10109  1.10119    1.09827  1.09343   1.09288
774  1.10115  1.10395    1.10119  1.09929   1.09343
775  1.10407  1.10441    1.10395  1.10078   1.09929
776  1.11057  1.11217    1.10441  1.10276   1.10078
777  1.10607  1.11386    1.11217  1.10542   1.10276

[778 rows x 5 columns]

---

## 6. Standard Deviation

The Standard Deviation is a measure of variance. if Standard Deviation is high, it is an indicator that markets are more volatile. 

**We will calculate the Standard Deviation with Period 20.**

In [15]:
# setting the deviation period
deviation_period = 20

# simple way to calculate Standard Deviation is to use std() 
df['std_20'] = df['close'].rolling(20).std()

# showing the data
display(df[['time', 'close', 'std_20']])

# plotting the data
fig_std = px.line(df, x='time', y='std_20', title="Standard Deviation")
display(fig)
display(fig_std)

          time    close    std_20
0   2021-01-04  1.22473       NaN
1   2021-01-05  1.22957       NaN
2   2021-01-06  1.23247       NaN
3   2021-01-07  1.22710       NaN
4   2021-01-08  1.22216       NaN
..         ...      ...       ...
773 2023-12-21  1.10109  0.008551
774 2023-12-22  1.10115  0.008928
775 2023-12-26  1.10407  0.009446
776 2023-12-27  1.11057  0.010349
777 2023-12-28  1.10607  0.010857

[778 rows x 3 columns]

---

## 7. Bollinger Bands

Bollinger Bands is a very popular indicator. Bollinger Bands consist of a **Simple Moving Average (Period 20), a Lower Band, and an Upper Band. The Bands are usually 2 Standard Deviations away from the Moving Average**.

Bollinger Bands are often used for Mean Reversion Strategies but can also indicate breakouts.

In [16]:
# setting SMA Period to 20
sma_period = 20

# calculating individual components of Bollinger Bands
df['sma_20'] = df['close'].rolling(sma_period).mean()
df['upper_band_20'] = df['sma_20'] + 2 * df['std_20']
df['lower_band_20'] = df['sma_20'] - 2 * df['std_20']

display(df[['time', 'close', 'sma_20', 'upper_band_20', 'lower_band_20']])

# plotting Bollinger Bands
fig_bollinger = px.line(df, x='time', y=['close', 'sma_20', 'upper_band_20', 'lower_band_20'], title='Bollinger Bands')
display(fig_bollinger)

          time    close    sma_20  upper_band_20  lower_band_20
0   2021-01-04  1.22473       NaN            NaN            NaN
1   2021-01-05  1.22957       NaN            NaN            NaN
2   2021-01-06  1.23247       NaN            NaN            NaN
3   2021-01-07  1.22710       NaN            NaN            NaN
4   2021-01-08  1.22216       NaN            NaN            NaN
..         ...      ...       ...            ...            ...
773 2023-12-21  1.10109  1.088725       1.105826       1.071623
774 2023-12-22  1.10115  1.089089       1.106944       1.071233
775 2023-12-26  1.10407  1.089523       1.108416       1.070630
776 2023-12-27  1.11057  1.090082       1.110780       1.069384
777 2023-12-28  1.10607  1.090541       1.112255       1.068826

[778 rows x 5 columns]

---

## 8. Moving Average Convergence/Divergence (MACD)

MACD is a trend indicator trying to predict trends and reversals at an early stage. That is done by looking at the relationship of a **fast EMA (period 12)** and a **slow EMA (period 26)**.

**The MACD Indicator is the difference obtained by subtracting EMA26 - EMA12**.

**Calculating the EMA of the MACD (period 9) generates a Signal Line**. The crossover between the MACD and the Signal Line can be an indication of a Trend Reversal

In [17]:
# setting the EMA periods
fast_ema_period = 12
slow_ema_period = 26

# calculating EMAs
df['ema_12'] = df['close'].ewm(span=fast_ema_period, min_periods=fast_ema_period).mean()
df['ema_26'] = df['close'].ewm(span=slow_ema_period, min_periods=slow_ema_period).mean()

# calculating MACD by subtracting the EMAs
df['macd'] = df['ema_26'] - df['ema_12']

# calculating to Signal Line by taking the EMA of the MACD
signal_period = 9
df['macd_signal'] = df['macd'].ewm(span=signal_period, min_periods=signal_period).mean()

display(df[['time', 'close', 'macd', 'macd_signal']])

# Plotting
fig_macd = px.line(df, x='time', y=[df['macd'], df['macd_signal']])
display(fig_macd)

          time    close      macd  macd_signal
0   2021-01-04  1.22473       NaN          NaN
1   2021-01-05  1.22957       NaN          NaN
2   2021-01-06  1.23247       NaN          NaN
3   2021-01-07  1.22710       NaN          NaN
4   2021-01-08  1.22216       NaN          NaN
..         ...      ...       ...          ...
773 2023-12-21  1.10109 -0.004611    -0.003624
774 2023-12-22  1.10115 -0.005064    -0.003912
775 2023-12-26  1.10407 -0.005594    -0.004249
776 2023-12-27  1.11057 -0.006465    -0.004692
777 2023-12-28  1.10607 -0.006714    -0.005096

[778 rows x 4 columns]

---

## 9. SMA Crossover

SMA Crossover are indicators to determine change in trends. **They consist of a fast Moving Average and a slow Moving Average**.

In this example, we will use period 10 and period 20 for the calculation of the Simple Moving Averages.

In [18]:
# setting the SMA Periods
fast_sma_period = 10
slow_sma_period = 20

# calculating fast SMA
df['sma_10'] = df['close'].rolling(fast_sma_period).mean()

# To find crossovers, previous SMA value is necessary using shift()
df['prev_sma_10'] = df['sma_10'].shift(1)

# calculating slow SMA
df['sma_20'] = df['close'].rolling(slow_sma_period).mean()

# function to find crossovers
def sma_cross(row):
    
    bullish_crossover = row['sma_10'] >= row['sma_20'] and row['prev_sma_10'] < row['sma_20']
    bearish_crossover = row['sma_10'] <= row['sma_20'] and row['prev_sma_10'] > row['sma_20']
    
    if bullish_crossover or bearish_crossover:
        return True

# applying function to dataframe (axis=1 => apply this function to each row)
df['crossover'] = df.apply(sma_cross, axis=1)

# plotting moving averages
fig_crossover = px.line(df, x='time', y=['close', 'sma_10', 'sma_20'], title='SMA Crossover')

# plotting crossovers
for i, row in df[df['crossover'] == True].iterrows():
    fig_crossover.add_vline(x=row['time'], opacity=0.2)

display(fig_crossover)

---

## 10. Stochastic Oscillator

The Stochastic Oscillator is similar to RSI but uses High/Low values for a specific period for the calculation. It helps you determine overbought and oversold levels.

**In this example, we will calculate the Stochastic Oscillator with the Period 14**.

In [19]:
# setting the period
stochastic_period = 14

# calculating maximum high and minimum low for the period
df['14_period_low'] = df['low'].rolling(stochastic_period).min()
df['14_period_high'] = df['high'].rolling(stochastic_period).max()

# formula to calculate the Stochastic Oscillator
df['stoch_osc'] = (df['close'] - df['14_period_low']) / (df['14_period_high'] - df['14_period_low'])

display(df[['time', 'stoch_osc']])

# plotting
fig_stoch_osc = px.line(df, x='time', y='stoch_osc', title='Stochastic Oscillator')
display(fig_stoch_osc)

          time  stoch_osc
0   2021-01-04        NaN
1   2021-01-05        NaN
2   2021-01-06        NaN
3   2021-01-07        NaN
4   2021-01-08        NaN
..         ...        ...
773 2023-12-21   0.996545
774 2023-12-22   0.911672
775 2023-12-26   0.989428
776 2023-12-27   0.959920
777 2023-12-28   0.812785

[778 rows x 2 columns]